@import "../../../assets/styles/app";

.formLinks {
  margin-top: 24px;

  @include desktop {
    margin-top: 64px;
    display: flex;
  }


  .btn {
    width: 161px;

    &:not(:first-child) {
      margin-top: 16px;

      @include desktop {
        margin-top: 0;
        margin-left: 8px;
      }
    }
  }
}