@import "../../../assets/styles/app";

.transformingMusic {
  position: relative;
  @include container;
  padding-top: 20px;
  padding-bottom: 64px;

  @include desktop {
    padding-top: 80px;
    padding-bottom: 42px;
    height: 100vh;
  }

  .lottieWrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .inner {
    @include inner;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include desktop {
      justify-content: space-between;
    }

    .top {
      display: flex;
      flex-direction: column;

      .title {
        @include h2;
        width: 312px;

        @include desktop {
          width: 640px;
        }
      }

      .description {
        margin-top: 32px;
        color: var(--Additional-Main-White, #FFF);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
        width: 312px;

        @include desktop {
          font-size: 18px;
          width: 363px;
        }
      }

    }

    .card {
      width: 312px;
      height: 304px;
      border-radius: 10px;
      border: 1px solid var(--additional-lines-15, rgba(255, 255, 255, 0.15));
      background: var(--additional-black-15, rgba(0, 0, 0, 0.15));
      backdrop-filter: blur(10px);
      padding: 24px;
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include desktop {
        margin-top: 0;
      }

      .cardTop {
        display: flex;


        p {
          color: var(--Additional-Main-White, #FFF);
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 135%;
          width: 147px;
        }
      }


    }

  }

}

