@import "../../../assets/styles/app";

.screen {
  @include container;
  position: relative;
  height: 100vh;
  padding-bottom: 40px;

  @include desktop {
    padding-bottom: 80px;
  }

  .videoWrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .inner {
    position: relative;
    z-index: 2;
    @include inner;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .titleMobile {
      @include onlyMobile();
    }

    .titleDesktop {
      @include onlyDesktop();
    }

    .title {
      @include h1;
    }


    .descriptionMobile {
      @include onlyMobile();
      margin-top: 24px;
    }

    .descriptionDesktop {
      @include onlyDesktop();
      margin-top: 24px;
    }

    .description {
      color: var(--Additional-Main-White, #FFF);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 115%;

      @include desktop {
        font-size: 18px;
      }
    }

    .orangeButton {
      @include onlyMobile();
      margin-top: 32px;
      width: auto;
      align-self: flex-start;
      padding-left: 24px;
      padding-right: 24px;
    }

    .btn {
      margin-top: 32px;
      align-self: flex-start;
      padding-left: 24px;
      padding-right: 24px;
      width: auto;

      @include desktop {
        padding-left: 40px;
        padding-right: 40px;
      }

      &_withOrangeButton {
        margin-top: 12px;

        @include desktop {
          margin-top: 32px;
        }
      }
    }

  }

}