@import "../../../assets/styles/app";

.diagram {
  @include container;
  padding-top: 64px;

  @include desktop {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  &_white {
    background: #FFF;
  }

  .inner {
    @include inner;

    img {
      display: block;
      height: auto;

      &:nth-child(1) {
        @include onlyMobile();
        width: 360px - 48px;
        margin-left: auto;
        margin-right: auto;
      }

      &:nth-child(2) {
        @include onlyDesktop();
        width: 100%;
      }
    }
  }
}