@import "../../../assets/styles/app";

.dynamicMusic {
  @include container;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;

  @include desktop {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .inner {
    @include inner;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .titleMobile {
      @include onlyMobile();
    }

    .titleDesktop {
      @include onlyDesktop();
    }

    .title {
      @include h1;
    }

    .descriptionMobile {
      @include onlyMobile();
      margin-top: 24px;
    }

    .descriptionDesktop {
      @include onlyDesktop();
      margin-top: 24px;
    }

    .description {
      color: var(--Additional-Main-White, #FFF);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 115%;

      @include desktop {
        font-size: 18px;
      }
    }

    .viewBtn {
      margin-top: 32px;
      width: 220px;
    }


  }




}